@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0; vertical-align:top;}
li{list-style:none;}
a{text-decoration:none;}
img{border:0;}
body{font-family: 'Noto Sans KR', 돋움, sans-serif; background: #E9E9E9}


.wrap{width: 1200px; margin:0 auto;background:#FFF;}

.header{width:100%;}

.logo{width: 100%; height: 40px;  background:#333;}
.logo a {font-size: 20px; line-height: 40px; font-weight: bold; color: #E9E9E9; padding: 0 20px;}

.nav{width:100%; background: rgb(186, 185, 182);}
.nav ul{display:flex;flex-wrap:wrap;}
.nav ul li{width:200px; height:30px; line-height:30px; text-align:center;}
.nav ul li a{display:block; color: #333; font-size:15px; font-weight:100px;}
.nav ul li a:hover{color:#FFF; background:#333;}

/*main_img*/
.main_img{width: 100%; height: 600px; position: relative; border-bottom: 15px solid #333;
        background: url('../images/main.jpg') no-repeat 50% 50%;
        background-size: 1200px auto;}
.main_text{width:800px; position:absolute;top: 130px; left: 70px; }
.main_text1{font-size: 38px; color:#FFF;text-shadow: 0 0 5px #666;}
.main_text2{font-size: 62px; color: #999; text-shadow: 0 0 5px #333;}
.main_text3{font-size: 12px; color:#FFF;text-shadow: 0 0 5px #666;}

/*contents*/
.contents { width: 100%; display: flex; flex-wrap: wrap; align-items:flex-start;}

.web { width: 639px; padding: 30px; border-right: 1px solid #999; }/* 700 */
.web img {width: 380px; height: auto;}

.contents_title{font-size:22px; margin-bottom:15px; }

.web_img_title{font-size:18px; color:#333; margin-top:10px;}
.web_img_article{font-size:12px; color:#666; margin-top:10px; margin-bottom: 10px;}


.interview { width: 440px; padding: 30px; }/* 500 */
.interview ul {margin: 33px 0 0 10px;}
.interview ul li {margin-bottom:20px;}
.interview ul li a {font-size:12px; color:#333;}
.interview ul li a:hover {color:#666;}


/*footer*/
footer{width: 100%; padding:30px 0 ; text-align: center; background: #000;}
.f_title{font-weight:bold;margin-bottom: 5px; color: #FFF;}
.f_article{font-size:12px; color: #FFF;}
















